

:root{
    --black:#171321;
    --dkblue:#0d314b;
    --hotmag:#ff17e4;
    --magenta:#e310cb;
    --aqua:#86fbfb;
    --white:#f7f8fa;
    --mono:"Oxygen mono",
    --sans:Oxygen,sans 
      serif;
  }
  html{
    box-sizing:border-box
  }
  body{
   margin:0;
   padding:0;
   background-color:  var(--black);
   color: var(--white);
   font-size:20px
   }
  h1,h2,h3{
    margin:0;
  }
  a{
    color:magenta
  }
  a:hover{
    color: var(--hotmage);
    text-decoration:none
  }
  #intro{
    padding-bottom:10rem;
    margin-left: 10px;
  }
  
  #intro p {
    font-size:1rem;
    line-height:1.5
  }
  #intro .name{
    font-family:var(--mono);
  }
  .name span {
    font-family:var(--sans);
    font-size:4rem;
    color: var(--aqua);
    display:block;
  }
  #intro h2 {
    font-size:2rem;
  }
  